<section id="menu" onload="showNumItems()">
    {{#each menu}}
    <div class="menu-item">

        <img src={{this.imageURL}} width="200" height="200" alt={{this.snackName}}>
        <h3 class="snack-name">
            {{this.snackName}}
        </h3>
        <span class="price">
            ${{this.price}}
        </span>
        <span class="buttons">
            <button type="button" class="add-button" onclick="decrementAmount({{this.snackId}})"><i
                    class="fa fa-minus"></i></button>
            <span id="snack-{{this.snackId}}-count">1</span>
            <button type="button" class="minus-button" onclick="incrementAmount({{this.snackId}})"><i
                    class="fa fa-plus"></i></button>
        </span>
        <div class="submit">
            <button class="submit-button" onclick="addToOrder(String({{this.snackId}}))">ADD TO CART</button>
        </div>
    </div>
    {{/each}}
    {{#if order}}
        <a
            id="view-cart-button"
            class="button view-order-button"
            onclick="viewOrder('{{order.orderId}}')"
        >
            <i class="fa fa-shopping-cart"></i>
            View order
            <span id="menu-cart-count"></span>
        </a>
    {{else}}
        <a
            id="view-cart-button"
            class="button view-order-button"
            onclick="viewCart()"
        >
            <i class="fa fa-shopping-cart"></i>
            View cart
            <span id="menu-cart-count"></span>
        </a>
    {{/if}}
</section>

<script>
    // TODO: move init'ing code to onload function, so js can be separated
    const menu = {{{ json menu }}};

    let cart = JSON.parse(sessionStorage.getItem("cart")) || [];
    let order = {{{json (orderToCart order)}}};
    if (order) {
        cart = order;
    }

    // Keep track the number of items
    let cartCount = document.getElementById("menu-cart-count");
    showNumItems();

    function incrementAmount(snackId) {
        let count = document.getElementById(`snack-${snackId}-count`);
        let currAmount = parseInt(count.textContent);
        count.textContent = currAmount + 1;
    }

    function decrementAmount(snackId) {
        let count = document.getElementById(`snack-${snackId}-count`);
        let currAmount = parseInt(count.textContent);
        if (currAmount > 1) {
            count.textContent = currAmount - 1;
        }
    }

    function addToOrder(snackId) {
        let count = document.getElementById(`snack-${snackId}-count`);
        let currAmount = parseInt(count.textContent); 
        
        if (currAmount > 0) {
            const idx = cart.findIndex(item => item.snackId === snackId);
            if (idx !== -1) {
                cart[idx].quantity += currAmount;
            }
            else {
                cart.push({ snackId: String(snackId), quantity: currAmount});
            }
            count.textContent = 1;
        }
        showNumItems();
    }

    function showNumItems(){
        let totalNumItems = 0;
        for (let item of cart){
            totalNumItems += item.quantity;
        }
        if (totalNumItems > 0){
            cartCount.textContent = `(${totalNumItems})`;
        }
        else {
            cartCount.textContent = ``;
        }
    }

    function viewCart() {
        sessionStorage.setItem("cart", JSON.stringify(cart));
        window.location.href = "/customer/cart";
    }

    function viewOrder(orderId) {
        order = {{{json order}}};
        order.items = cart;
        fetch(`/customer/orders/${orderId}`, {
            method: "PUT",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(order)
        }).then(() => window.location.href = `/customer/orders/${orderId}`);
    }
</script>