<script>
    let cart = JSON.parse(sessionStorage.getItem("cart"));
    if (!cart){
        cart = {};
    }

    function incrementAmount(snackId) {
        currAmount = parseInt(document.getElementById(snackId).textContent);
        document.getElementById(snackId).textContent = currAmount + 1;
    }

    function decrementAmount(snackId) {
        currAmount = parseInt(document.getElementById(snackId).textContent);
        if (currAmount > 1) {
            document.getElementById(snackId).textContent = currAmount - 1;
        }
    }

    function addToOrder(snackId, snackName, price) {
        currAmount = parseInt(document.getElementById(snackId).textContent);
        if (currAmount > 0) {
            const snackJson = JSON.stringify({"snackName": snackName, "price": price});
            if (snackJson in cart) {
                cart[snackJson] += currAmount;
            }
            else {
                cart[snackJson] = currAmount;
            }
            document.getElementById(snackId).textContent = 1;
        }

        sessionStorage.setItem("cart", JSON.stringify(cart));

        if (cart) {
            alert(JSON.stringify(cart));
        }
    }

    let submit 

</script>

<section id="snackslist">
    <div class="menu">
        {{#each snacks}}
        <ul>
            <li>
                <img src={{this.imageURL}} width="200" height="200" alt={{this.snackName}}>
                <h3 class="snack-name">
                    {{this.snackName}}
                </h3>
                <span class="price">
                    ${{this.price}}
                </span>
                <span class="buttons">
                    <button type="button" class="add-button" onclick="decrementAmount({{this.snackId}})"><i
                            class="fa fa-minus"></i></button>
                    <span id={{this.snackId}}>1</span>
                    <button type="button" class="minus-button" onclick="incrementAmount({{this.snackId}})"><i
                            class="fa fa-plus"></i></button>
                </span>
                <div class="submit">
                    <button class="submit-button" onclick="addToOrder({{this.snackId}}, 
                    '{{this.snackName}}', {{this.price}})">ADD TO CART</button>
                </div>
            </li>
        </ul>
        {{/each}}
        <a class="button view-order-button" href="/customer/cart"><i class="fa fa-shopping-cart"></i> View cart</a>
    </div>
</section>