<section id="orders">
    <h1>Orders</h1>
    <div class="orders-wrapper">
        {{#each orders}}
        {{#if (orderNotCancelled this.status)}}
        <a class="order-item" href="/customer/orders/{{this.orderId}}">
            <div class="order-item-id">
                {{this.orderId}}
            </div>
            <div class="status-dot">
                {{#if (statusEqualTo this.status 'completed')}}
                <i class="fas fa-circle" id="blue-dot"></i>
                {{else if (statusEqualTo this.status 'fulfilled')}}
                <i class="fas fa-circle" id="green-dot"></i>
                {{else if (statusEqualTo this.status 'preparing')}}
                <i class="fas fa-circle" id="orange-dot"></i>
                {{/if}}
            </div>
            <div>
                Ordered: {{formatDateTime this.timeOrdered}}
            </div>
        </a>
        {{/if}}
        {{/each}}
    </div>
</section>