<section id="order">
  <div class="order-wrapper">
    <div class="order-header">
      <h1>
        <div>
          <i class="icon-SnackVan"></i>
        </div>
        Order Details
      </h1>
      <h3>
        Status: {{order.status}}
        {{#if (statusEqualTo order.status 'completed')}}
        <i class="fas fa-circle" id="blue-dot"></i>
        {{else if (statusEqualTo order.status 'fulfilled')}}
        <i class="fas fa-circle" id="green-dot"></i>
        {{else if (statusEqualTo order.status 'preparing')}}
        <i class="fas fa-circle" id="orange-dot"></i>
        {{/if}}
      </h3>
    </div>
  
          
    {{!-- <div id="discount-button-wrapper">
      </div> --}}
    <div>
      <div class="progress-bars">
        <div class="order-timer">
          <span id="mins_change"></span>
          <span id="secs_change"></span>
          <meter id="order-fixed-cd" min="0" max="100" low="33" high="66" value="0"></meter>
          <span id="end_change"></span>
        </div>
        <div class="discount-timer">
          <span id="mins"></span>
          <span id="secs"></span>
          <meter id="discount-cd" min="0" max="100" low="33" high="66" value="0"></meter>
          <span id="end"></span>
        </div>
      </div>
      <div>
        <i id="van-name" class="fas fa-shuttle-van"></i>
        <span class="cart-van-name">Van name</span>
      </div>
      <div>
        <i id="van-location" class="fas fa-map-marker-alt"></i>
        <span class="cart-van-location">Van location</span>
      </div>
    </div>
    {{> cart-table order=null }}
    {{#if (statusEqualTo order.status 'preparing')}}
   
    <div id="order-buttons" class="order-buttons">
      <button id="cancel-order-button" class="button" onclick="cancelOrder('{{order.orderId}}')">
        <i class="fas fa-trash-alt"></i>
        Cancel Order
      </button>
      <button id="update-order-button" class="button" onclick="updateOrder('{{order.orderId}}')">
        <i class="fas fa-edit"></i>
        Update Order
      </button>
      <button id="add-item-button" class="button" onclick="goToMenu('{{order.orderId}}')" type="button">
        <i class="fas fa-clipboard=list"></i> Add items from menu
      </button>
     
     

    </div>

   
    {{/if}}
   
  </div>
</section>

<script>
  const order = {{{ json order }}}

 // reload, but only once, avoids infinite loop
 async function reloadOnce() {
  if (window.localStorage){
    if (!localStorage.getItem('firstReload')){
     localStorage['firstReload'] = true;
     window.location.reload();
    } else {
     localStorage.removeItem('firstReload');
    }
  }
 };

  function loadCart() {
    const cart = JSON.parse(sessionStorage.getItem('cart'));
    // if there is a local cart then cart table will load from that, otherwise,
    // load it from order instead.
    if (!(cart && String(document.referrer).indexOf("menu") !== -1)) {
      sessionStorage.setItem("cart", JSON.stringify({{{ json (orderToCart order)}}}));
      reloadOnce();
    }
  }
  loadCart();

  // redirect to menu to add items to this current order
  function goToMenu(orderId) {
    window.location = `/customer/menu?orderId=${orderId}`;
  }

  const vendor = JSON.parse(sessionStorage.getItem('vendor'));
  if (vendor) {
    document.querySelector('.cart-van-name').textContent = vendor.vendorName;
    document.querySelector('.cart-van-location').textContent = vendor.address;
  }

  // update the table view based on the current cart items, and modifies the
  // order in the database
  async function updateOrder(orderId) {
    const cart = JSON.parse(sessionStorage.getItem("cart"));
    const order = {{{ json order }}}
    order.timeOrdered = new Date();
    order.items = cart;
    fetch(`/customer/orders/${orderId}`, {
      method: "PUT",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(order)
    }).then(() => window.location.reload());
  }

  // sets the status of the order in the database as "cancelled", they will
  // not be displayed on the orders page
  async function cancelOrder(orderId) {
    const order = {{{ json order }}}
    order.items = {{{ json (orderToCart order) }}};
    order.status = "cancelled";
    fetch(`/customer/orders/${orderId}`, {
      method: "PUT",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(order)
    }).then(() => window.location.href = `/customer/orders`);
  }

  function renderTrashButtons(order) {
    if (order.status === "preparing") {
      const trashButtons = document.getElementsByClassName("trash-button");
      for (let i=0; i<trashButtons.length; i++) {
        trashButtons[i].style.display = "inline-block";
        trashButtons[i].style.visibility = "visible";
        trashButtons[i].addEventListener("click", render);
      }
    }
  }
 

  function renderOrderEditButtons(order){
    if (order.status === "preparing") {
      const buttonsWrapper = document.getElementById("order-buttons");
      buttonsWrapper.style.display = "block";
      buttonsWrapper.style.visibility = "visible";
      for (let ele of buttonsWrapper.childNodes) {
        ele.addEventListener("click", render);
      }
    }
  }

  function enableCountInput(order) {
    if (order.status === "preparing") {
      const countInputs = document.getElementsByClassName("count-input");
      for (let i=0; i<countInputs.length; i++) {
        countInputs[i].disabled = false;
        countInputs[i].addEventListener("change", render);
      }
    }
  }

  function render() {
    var now = new Date().getTime();
    
    var timeleft_change = reorder_timer - now;
    if (timeleft_change > 0){
      renderTrashButtons(order);
      renderOrderEditButtons(order);
      enableCountInput(order);
    }
  }
  render();


 
  function disableOrderEdit(){
    const trashButtons = document.getElementsByClassName("trash-button");
    const buttonsWrapper = document.getElementById("order-buttons");
    const countInputs = document.getElementsByClassName("count-input");

    if (trashButtons != null) {
      for (let i=0; i<trashButtons.length; i++) {
        trashButtons[i].style.display = "none";
        trashButtons[i].style.visibility = "hidden";
      }
    }
    if (buttonsWrapper != null) {
      buttonsWrapper.style.display = "none";
      buttonsWrapper.style.visibility = "hidden";
    }
    if (countInputs != null) {
      for (let i=0; i<countInputs.length; i++) {
        countInputs[i].disabled = true;
      }
    }
  }

  function addMinutes(date, minutes) {
    var discount_time = (date + minutes * 60000);
    return discount_time;
  }

  // Progress bar for the timer
  var discount_pb = document.getElementById("discount-cd");
  var order_fixed_pb = document.getElementById("order-fixed-cd");
  var discount_timer = 0;
  var reorder_timer = 0;
  var initial_discount_timer = 0;
  var time_order = new Date(order.timeOrdered).getTime();

  if (discount_timer == 0) {
    discount_timer = addMinutes(new Date(order.timeOrdered).getTime(),15);
    //This should work? but it should pull from time-ordered not the current itme

    //var discount_timer = now + (15*60000);
    //Convert 15 minutes to milliseconds
  }
  if (reorder_timer == 0){
    reorder_timer = addMinutes(new Date(order.timeOrdered).getTime(), 10);
  }

  if (initial_discount_timer == 0){
    initial_discount_timer = discount_timer;
  }
  
  var buttonsUpdated = false;
  
  // Run myfunc every second
  var myfunc = setInterval(function () {

    var now = new Date().getTime();
    var timeleft = discount_timer - now;
    var timeleft_change = reorder_timer - now;

    if (!buttonsUpdated && timeleft_change > 0) {
      // Render the buttons
      renderTrashButtons(order);
      renderOrderEditButtons(order);
      enableCountInput(order);
      buttonsUpdated = !buttonsUpdated;
    }
    
    // Update progress bar
    order_fixed_pb.setAttribute("value", 100 - 100*(1- timeleft_change/(10*60000)));
    discount_pb.setAttribute("value", 100 - 100*(1- timeleft/(15*60000)));

    
    // Calculating the days, hours, minutes and seconds left
    var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

    var minutes_change = Math.floor((timeleft_change % (1000 * 60 * 60)) / (1000 * 60));
    var seconds_change = Math.floor((timeleft_change % (1000 * 60)) / 1000);

    // Result is output to the specific element
    document.getElementById("mins_change").innerHTML = "Order lock in: " + minutes_change + "m "
    document.getElementById("secs_change").innerHTML = seconds_change + "s "

    document.getElementById("mins").innerHTML = "Discount apply in: " + minutes + "m "
    document.getElementById("secs").innerHTML = seconds + "s "

    // Display the message when countdown is over
    if (timeleft_change <= 0) {
      document.getElementById("mins_change").innerHTML = ""
      document.getElementById("secs_change").innerHTML = ""
      document.getElementById("end_change").innerHTML = "Order Locked in!";
      // hide the buttons
      disableOrderEdit();
      
      // remove the meter
      const cd = document.getElementById("order-fixed-cd");
      if (cd !== null) {
        cd.remove();
      }
    }
  
    if (timeleft <= 0) {
      document.getElementById("mins").innerHTML = ""
      document.getElementById("secs").innerHTML = ""
      document.getElementById("end").innerHTML = "20% Discount Applied!! your total amount has been changed!";
     
      discount(order.orderId)

      
      // remove the meter
      document.getElementById("discount-cd").remove();
      clearInterval(myfunc);
    }
    
  }, 1000);
  // {{!-- function get_discount(orderId) {
   
    //  updateDiscountButton();
   // }
  //async function getdisc() {
   //await fetch(`/customer/discount/${orderId}`,
    //  return res.json();
    //} catch {
    //  return {discountApplied: false};
    //}
    // Uncaught (in promise) SyntaxError: Unexpected token < in JSON at position 0
    // caused by parsing none-json object to json format
  //}
  //async function discount_no() {
    //await fetch(`/customer/discount/${orderId}`,
      //{
       // method: "PUT",
        ///headers: {
         /// 'Content-Type': 'application/json',
       // },
        //body: JSON.stringify({
         // discountApplied: true
        //})
      //}
    //);
    //updateDiscountButton();
 // }
   //function defaultButton() {
    //const wrapper = document.getElementById("discount-button-wrapper");
    //const button = document.createElement("button");
    //button.setAttribute("class", "button");
    //const buttonText = document.createTextNode("getdisocunt");
    //button.appendChild(buttonText);
    //button.style.backgroundColor = "grey";
    //wrapper.replaceChild(button, wrapper.childNodes[0]);
 // }
   ////function updateDiscountButton() {
    //const wrapper = document.getElementById("discount-button-wrapper");
    //const button = document.createElement("button");
    //button.setAttribute("class", "button");

    //getdisc().then((order) => {
     // if (order.discountApplied) {
       // const buttonText = document.createTextNode("Close");
        //button.appendChild(buttonText);
        //button.style.backgroundColor = "red";
       // button.addEventListener("click", () => discount_no());
      //} else {
        //const buttonText = document.createTextNode("Open");
        //button.appendChild(buttonText);
        //button.style.backgroundColor = "green";
        //button.addEventListener("click", () => get_discount()); 
     // }
      //wrapper.replaceChild(button, wrapper.childNodes[0]);
    //}).catch((err) => { 
      // do nothing
    //});
  //} --}}

function discount(orderId){

  const order={{{json order}}};
  
  let cartTotalField = document.querySelector(".cart-total");
  let sum = 0;
      
  for (const row of tableContents) {
      sum += parseFloat(row["Price"].substring(1));
  }
  sum=sum*80/100
  cartTotalField.textContent = `$${sum} `;
  order.discountApplied=true;

  order.items = order.items.map((item) => (
    {
      _id: item._id,
      snackId: item.snack,
      quantity: item.quantity
    }
    ));

    fetch(`/customer/orders/${orderId}`, {
      method: "PUT",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(order)
    }).then(function(response){


  }).catch(function(error){

  });

}


</script>
